.carousel-box {
  height: 512px !important;
  background-color: #595C5F;
}

body {
  padding-bottom: 3rem;
}
.hero{
  margin-bottom: 4rem;
}
.headingboxs{
  width: 140px;
  height: 140px;
  background-color: #595C5F;
  border-radius: 50%;
}

.featurette-divider{
  margin: 80px 0;
}

.featurette-heading{
  margin-top: 7rem;
  font-size: 50px;
  letter-spacing: -0.5;
}

.box-site{
  width: 500px;
  height: 500px;
  background-color: #E9ECEF;
  font-size: 56px;
}